{% if site.news != blank %}
  {% assign news = site.news | reverse %}
  {% assign news_limit = include.limit | default: page.announcements.limit | default: 6 %}
  {% assign roll_interval = include.roll_interval | default: page.announcements.roll_interval | default: 4200 %}
  <div
    class="about-news-card"
    data-home-carousel
    data-carousel-items=".about-news-card__item"
    data-carousel-interval="{{ roll_interval }}"
  >
    <div
      class="about-news-card__viewport"
      aria-label="Latest news"
      data-carousel-viewport
    >
      <ol class="about-news-card__list">
        {% for item in news limit: news_limit %}
          {% assign news_type = item.type | default: 'default' %}
          <li class="about-news-card__item">
            <time class="about-news-card__date" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: '%b %e, %Y' }}</time>
            <span class="about-news-card__icon news-icon news-icon--{{ news_type }}" aria-hidden="true">
              {% case item.type %}
                {% when 'life' %}
                  <i class="fa-solid fa-seedling"></i>
                {% when 'talk' %}
                  <i class="fa-solid fa-chalkboard-user"></i>
                {% when 'publication' %}
                  <i class="fa-solid fa-book"></i>
                {% when 'award' %}
                  <i class="fa-solid fa-award"></i>
                {% when 'people' %}
                  <i class="fa-solid fa-user-plus"></i>
                {% when 'alert' %}
                  <i class="fa-solid fa-bell"></i>
              {% endcase %}
            </span>
            <span class="about-news-card__text">
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </span>
          </li>
        {% endfor %}
      </ol>
    </div>
    <div class="about-selected-publications__dots about-news-card__dots" aria-label="Latest news controls" data-carousel-dots></div>
  </div>
  <script defer src="{{ '/assets/js/selected-publications-carousel.js' | relative_url | bust_file_cache }}"></script>
{% else %}
  <div class="about-news-card">
    <p class="about-news-card__empty">No news so far...</p>
  </div>
{% endif %}
