<div class="project-grid__item">
  {% assign project_url = project.url | relative_url %}
  {% if project.redirect %}
    {% assign project_url = project.redirect %}
  {% endif %}
  <article class="project-card project-card--horizontal">
    {% if project.img %}
      <a class="project-card__media" href="{{ project_url }}" aria-hidden="true" tabindex="-1">
        {% include figure.liquid loading="lazy" path=project.img sizes="(min-width: 768px) 220px, 100vw" alt="project thumbnail" class="card-img" %}
      </a>
    {% endif %}
    <div class="project-card__body">
      <h3 class="project-card__title">
        <a href="{{ project_url }}">{{ project.title }}</a>
      </h3>
      <p class="project-card__description">{{ project.description }}</p>
      {% if project.github %}
        <div class="project-card__actions">
          <a class="project-card__action" href="{{ project.github }}" title="Code Repository" rel="external nofollow noopener" target="_blank">
            <i class="fa-brands fa-github gh-icon"></i>
            <span>Code</span>
          </a>
          {% if project.github_stars %}
            <span class="project-card__stars" title="GitHub Stars">
              <i class="fa-solid fa-star"></i>
              <span id="{{ project.github_stars }}-stars"></span>
            </span>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </article>
</div>
