{% assign talk_type_slug = talk.type | downcase | replace: '/', '-' | replace: ' ', '-' %}
<li class="talk-card talk-card--{{ talk_type_slug }}">
  <div class="talk-card__body">
    <div class="talk-card__meta">
      <span class="talk-card__type">{{ talk.type }}</span>
      <span class="talk-card__dot" aria-hidden="true"></span>
      <span class="talk-card__date">{{ talk.date | date: '%b %-d, %Y' }}</span>
    </div>

    <h3 class="talk-card__title">{{ talk.title }}</h3>

    {% if talk.description %}
      <p class="talk-card__description">{{ talk.description }}</p>
    {% endif %}

    <div class="links">
      {%- if talk.site %}
        <a href="{{ talk.site }}" class="btn btn-sm z-depth-0" role="button">
          <i class="fa-solid fa-link" aria-hidden="true"></i>
          <span>Site</span>
        </a>
      {%- endif %}
      {%- if talk.slides %}
        {% if talk.slides contains '://' -%}
          <a href="{{ talk.slides }}" class="btn btn-sm z-depth-0" role="button">
            <i class="fa-solid fa-display" aria-hidden="true"></i>
            <span>Slides</span>
          </a>
        {%- else -%}
          <a href="{{ talk.slides | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">
            <i class="fa-solid fa-display" aria-hidden="true"></i>
            <span>Slides</span>
          </a>
        {%- endif %}
      {%- endif %}
      {%- if talk.video %}
        <a href="{{ talk.video }}" class="btn btn-sm z-depth-0" role="button">
          <i class="fa-solid fa-circle-play" aria-hidden="true"></i>
          <span>Video</span>
        </a>
      {%- endif %}
    </div>
  </div>
</li>
