{% if include.repository.name %}
  {% assign repo_full_name = include.repository.name %}
  {% assign repo_description = include.repository.description %}
  {% assign repo_language = include.repository.language %}
  {% assign repo_stars = include.repository.stars %}
  {% assign repo_forks = include.repository.forks %}
  {% assign repo_updated = include.repository.updated %}
  {% assign repo_url = include.repository.url %}
{% else %}
  {% assign repo_full_name = include.repository %}
{% endif %}

{% assign repo_parts = repo_full_name | split: '/' %}
{% assign repo_owner = repo_parts[0] %}
{% assign repo_name = repo_parts[1] %}
{% unless repo_url %}
  {% assign repo_url = repo_full_name | prepend: 'https://github.com/' %}
{% endunless %}
{% unless repo_description %}
  {% assign repo_description = 'Open-source repository on GitHub.' %}
{% endunless %}
{% assign max_lines = site.data.repositories.repo_description_lines_max | default: 2 %}

<article class="repo-card" style="--repo-description-lines: {{ max_lines }}">
  <a class="repo-card__link" href="{{ repo_url }}" aria-label="Open {{ repo_full_name }} on GitHub">
    <h3 class="repo-card__title">
      <i class="fa-brands fa-github" aria-hidden="true"></i>
      <span>
        <span class="repo-card__owner">{{ repo_owner }}</span>
        <span class="repo-card__slash">/</span>
        <span>{{ repo_name }}</span>
      </span>
    </h3>

    <p class="repo-card__description">{{ repo_description }}</p>

    <div class="repo-card__footer">
      <div class="repo-card__stats">
        {% if repo_language %}
          <span class="repo-card__stat repo-card__language">
            <span class="repo-card__language-dot" aria-hidden="true"></span>
            <span>{{ repo_language }}</span>
          </span>
        {% endif %}
        {% if repo_stars != null %}
          <span class="repo-card__stat">
            <i class="fa-regular fa-star" aria-hidden="true"></i>
            <span>{{ repo_stars }}</span>
          </span>
        {% endif %}
        {% if repo_forks != null %}
          <span class="repo-card__stat">
            <i class="fa-solid fa-code-fork" aria-hidden="true"></i>
            <span>{{ repo_forks }}</span>
          </span>
        {% endif %}
        {% if repo_updated %}
          <span class="repo-card__stat">
            <i class="fa-regular fa-calendar" aria-hidden="true"></i>
            <span>{{ repo_updated }}</span>
          </span>
        {% endif %}
      </div>

      <span class="repo-card__visit" aria-hidden="true">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </span>
    </div>
  </a>
</article>
